.profile__wrapper {
  min-height: calc(100vh - 400px);
  display: flex;
  justify-content: space-between;
}

.profile__user {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  margin-bottom: 25px;
  background-color: #84c1e5fa;
  padding-top: 15px;
  border-radius: 10px;
  font-weight: 500;
}

.profile__user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.profile__user-photo {
  display: block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.profile__user-icon {
  color: white;
}

.userRent {
  width: 72%;
  margin-bottom: 20px;
  border: 1px solid #e5dede;
  border-radius: 10px;
}

.userAnnouncementsTab {
  display: flex; 
  flex-wrap: wrap;
  justify-content: space-between;
}