.reg-wrapper {
  width: 400px;
  display: block;
  margin: 0 auto;
  position: absolute;
  z-index: 5;
  background-color: white;
  padding: 15px;
  border: 2px solid rgba(0, 0, 0, 0.301);
  border-radius: 25px;
  right: 0;
  top: 90px;
}

.form-login {
  display: flex;
  justify-content: space-between;
}
.form {
  display: flex;
  flex-direction: column;
}

.form>:not(:last-of-type) {
  margin-bottom: 5px;
}

.btn {
  margin-top: 25px;
}
small {
  font-size: 10px;
}
h3 {
  text-align: center;
  padding-bottom: 15px;
}
