#header {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #15161d;
  border-bottom: 3px solid #d10024;
}

.row {
  display: flex;
  align-items: center;
}

.header-entry {
  display: flex;
  justify-content: flex-end;
}

.entry-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  background-color: #15161d;
  border: none;
  outline: none;
}

.header-links {
  display: flex;
  justify-content: flex-end;
}

.link {
  text-decoration: none;
}

.links-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  background-color: #15161d;
  border: none;
  outline: none;
}
