#header {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #15161d;
  border-bottom: 3px solid #d10024;
}

.appContainer {
  width: 1170px;
  margin: 0 auto;
}

.row {
  display: flex;
  align-items: center;
}

.input-select {
  border-radius: 40px 0px 0px 40px;
  padding: 0px 15px;
  background: #fff;
  border: 1px solid #e4e7ed;
  height: 39px;
}

.input {
  width: calc(100% - 270px);
  height: 39px;
  padding: 0px 15px;
  border: 1px solid #e4e7ed;
  background-color: #fff;
}

.search-btn {
  height: 40px;
  width: 100px;
  background: #d10024;
  color: #fff;
  font-weight: 700;
  border: none;
  border-radius: 0px 40px 40px 0px;
}

.header-entry {
  display: flex;
  justify-content: flex-end;
}

.entry-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  background-color: #15161d;
  border: none;
  outline: none;
}

.header-links {
  display: flex;
  justify-content: flex-end;
}

.link {
  text-decoration: none;
}

.links-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  background-color: #15161d;
  border: none;
  outline: none;
}
