.miniCard {
  width: 250px;
  height: 330px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  border: 3px solid transparent;
  text-decoration: none;
  color: #15161d;
}

.miniCard:hover {
  border: 3px solid #d10024;
  color: #15161d;
}

.miniCard__img {
  display: block;
  width: 244px;
  height: 244px;
  margin-bottom: 10px;
}

.miniCard__title {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 5px;
  text-align: center;
}

.miniCard__price {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 15px;
}